.fa-plus {
color: #fff;
border: 2px solid #fff;
border-radius: 5px;
margin-right: 5px;
}

.button_primary_navbar {
  display: flex;
background-color: #ff6e14;
color: #fff;
border: 1px solid #ff6e14;
text-decoration: none;
margin: 0px 16px;
padding: 0px 8px;
vertical-align: center;
border-radius: 5px;
align-items: center;
justify-content: center;
height: 40px;
transition: .4s;
}

.button_primary_navbar:hover {
  background-color: #bc510f;
  transition: .4s;
}

.navbar {
  display: flex;
  align-items: center;
}

.logo_coin {
  width: 150px;
  height: 80px;

}

.button-rechercher {
  display: flex;
  text-decoration: none;
  color: black;
  /* margin-right: 24vw; */
  padding: 8px 8px;
  align-items: center;
  position: relative;
}

.button-rechercher::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #ff6e14;
  transition: width 0.4s ease-in-out, left 0.4s ease-in-out; /* Add transitions */
  transform: translateX(-50%); /* Move pseudo-element to center */
}

.button-rechercher:hover::after {
  width: 100%;
}



.fa-magnifying {
  color: black;
  margin-right: 10px!important;
}

.link-my-search {
  text-decoration: none;
  color: black;
  align-items: center;
  height: 3px;
  position: relative;
  font-size: .9rem!important;
  padding-bottom: 5px;

}



span {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  /* align-self: stretch; */
  align-items: center;
  justify-content: center;
  margin-left: auto;


}

.fa-regular {
  color: black;
  justify-content: center;
  font-size: 1.4rem!important;

}

.link-my-search::after {
  content: "";
  position: relative;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: #ff6e14;
  transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
  transform: translateX(-50%);
}

.link-my-search:hover::after {
  width: 100%;
}

.flex-haut-droit {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
}

.top-categories ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: space-around;
}

.top-categories li:hover {
  font-weight: bolder;
}

.top-categories li:not(:last-child)::after {
  content: '\00B7';
  margin: 0 1em;
}
